<div class="container py-4">
	<header class="pb-3 mb-4 border-bottom">
		<a href="/" class="d-flex align-items-center text-dark text-decoration-none">

			<span class="fs-4">Sobre nosotros</span>
		</a>
	</header>

	<div class="p-5 mb-4 text-white bg-dark rounded-3">
		<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
					aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
					aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
					aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="container-fluid py-5">
						<h1 class="display-5 fw-bold">¿Por qué hacemos lo que hacemos?</h1>
						<p class="col-md-8 fs-4">Creemos en la tecnológica y en la libertad como forma de mejorar la
							calidad de vida de las personas </p>
					</div>
				</div>
				<div class="carousel-item">
					<div class="container-fluid py-5">
						<h1 class="display-5 fw-bold">¿Cómo lo hacemos?</h1>
						<p class="col-md-8 fs-4">Usamos la tecnología para simplificar y automatizar tareas aburridas,
							pesadas y repetitivas. Queremos devolverte tu tiempo ;)</p>
					</div>
				</div>
				<div class="carousel-item">
					<div class="container-fluid py-5">
						<h1 class="display-5 fw-bold">¿Qué es lo que hacemos?</h1>
						<p class="col-md-8 fs-4">Hemos creado un marketplace de créditos hipotecarios entre bancos y
							particulares donde se anuncia, busca y se negocia de forma libre y transparente </p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row align-items-md-stretch">
		<div class="col-md-4">
			<div class="h-100 p-5 text-white bg-secondary rounded-3">
				<h2>Misión</h2>
				<p>Reducir en un 90% el tiempo de contratración de una hipoteca. Haciéndolo fácil, rápido y transparente</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="h-100 p-5 bg-light border rounded-3">
				<h2>Visión</h2>
				<p>Ser la empresa de calificación crediticia de refencia mundial en créditos hipotecarios. Cuando las personas
					piensen en pedir o conceder una hipoteca piensen en Morticia</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="h-100 p-5 bg-secondary border rounded-3">
				<h2>Valores</h2>
				<p>Tratar de ser imparcial y neutral entre ambas partes, pensar en qué es lo mejor para la sociedad y
					ser honesto con los demás y con uno mismo</p>
			</div>
		</div>
	</div>

</div>

<br>