<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1 fs-2">Morticia</span>
    <%= link_to "Anunciarse", new_operation_path, class:"btn btn-outline-success" %>
  </div>
</nav>