<p style="color: green"><%= notice %></p>

<%= render @operation %>

<!---<div class="container">
  <%= link_to "Editar", edit_operation_path(@operation), class:"btn btn-success" %> | <%= button_to "Eliminar", @operation, method: :delete, class:"btn btn-danger" %>
</div>---->



